/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face for Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype'); /* Use .ttf font */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype'); /* Use .ttf font */
  font-weight: bold;
  font-style: normal;
}

/* Custom properties for light and dark mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global body styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif; /* Apply Roboto font */
}

